# Build artifacts
/build/
/bin/
*.o
*.d
*.dSYM

# Ignore the fastflow folder
fastflow/

# Sorted and unsorted files
files/

# vscode
.vscode/

# fastflow
fastflow/

# Ignore LaTeX intermediate files generated for 'report'
report/*.aux
report/*.fdb_latexmk
report/*.fls
report/*.log
report/*.out
report/*.synctex.gz
report/*.toc

# Experiments
experiments/*